<launch>

    <arg name="point_cloud_topic" default="/cloud_registered"/>
    <arg name="do_trail" default="false"/>

    <node pkg="pcl_analysis" exec="pcl_analysis_node" respawn="false" output="screen">
        <param name="do_trail" value="$(var do_trail)"/>
        <param name="pub_rate" value="2.0"/>
        <param name="point_cloud_topic" value="$(var point_cloud_topic)"/>
        <param name="segment_distance_threshold" value="0.1"/>
        <param name="voxel_grid_leaf_size" value="0.25"/>
        <param name="pmf_max_window_size" value="10"/>
        <param name="pmf_slope" value="1.0"/>
        <param name="pmf_initial_distance" value="0.25"/>
        <param name="pmf_max_distance" value="1.0"/>
    </node>

</launch>